* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1255px;
}

.header {
  background-image: url(../img/Rectangle_96.png);
  height: 1085px;
  color: #ffffff;
}
.header__nav {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.header__nav_btn {
  background: #00d664;
  border-radius: 25px;
  border: none;
  width: 155px;
  height: 50px;
}
.header__intro {
  margin-top: 315px;
  text-align: center;
  width: 795px;
  height: 395px;
}
.header__intro_btn {
  background: #00d664;
  border-radius: 25px;
  border: none;
  width: 215px;
  height: 50px;
}

.about {
  margin-top: 186px;
  text-align: center;
}
.about h3 {
  font-size: 58px;
  line-height: 27px;
  color: #acacac;
  font-family: "Mrs Saint Delafield";
}
.about__title {
  margin-top: 24px;
  font-size: 58px;
  line-height: 27px;
  font-weight: 400px;
}
.about__text {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  font-family: "Neue Haas Unica";
  padding: 0 200px 0 200px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about__content_left {
  width: 50%;
}
.about__content_left_title {
  font-size: 16px;
  color: #1e266d;
  font-size: 28px;
  font-weight: 500;
  padding-top: 164px;
}
.about__content_left_list {
  list-style: none;
  margin-top: 45px;
}
.about__content_left_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__content_left_list_item div {
  padding-left: 34px;
  text-align: left;
}
.about__content_left_list_item img {
  width: 40px;
  height: 40px;
}
.about__content_left_list_item h5 {
  font-size: 20px;
  line-height: 44px;
}
.about__content_left_list_item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 400px;
}
.about__content_right {
  width: 50%;
  padding: 46px;
}

.wrapper-services {
  background-color: #f7f4fb;
  padding-top: 165px;
}

.services {
  text-align: center;
}
.services__title {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 58px;
  color: #1e266d;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.services__content_square {
  width: 290px;
  height: 290px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 38px;
}
.services__content_square h4 {
  color: #1e266d;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 44px;
}
.services__content_square p {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #696969;
  padding: 25px 0;
}
.services__content_square a {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #00d664;
  text-decoration: none;
}
.services__content_square a:hover {
  text-decoration: none;
  color: #d60000;
}
.services__btn {
  margin-top: 75px;
  border: none;
  width: 195px;
  height: 55px;
  background: #00d664;
  border-radius: 30px;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.services__bottom {
  height: 105px;
}

.menu {
  height: 850px;
  background-image: url(../img/Rectangle_98.png);
  padding-top: 120px;
}
.menu__title {
  padding: 0 200px;
  font-family: "Neue Haas Unica";
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}
.menu__content {
  margin-top: 50px;
  background: #ffffff;
  height: 450px;
  border-radius: 10px;
}
.menu__content_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}
.menu__content_btns button {
  border: none;
  width: 135px;
  height: 80px;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1e266d;
  margin: 0 40px;
  background-color: #ffffff;
  outline: none;
}
.menu__content_btns button:hover {
  border-bottom: solid 3px #00d664;
}
.menu__content hr {
  margin: 0 10px;
}
.menu__content_fud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}
.menu__content_fud_list {
  padding: 5px;
  list-style: none;
}
.menu__content_fud_list_item {
  width: 500px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.menu__content_fud_list_item_wrap h5 {
  padding-left: 10px;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #1e266d;
}
.menu__content_fud_list_item_wrap p {
  padding-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.wrap {
  background-color: #f5f6fe;
}
.wrap-process {
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrap-process__left {
  padding: 100px 0 0 0;
  width: 600px;
  position: relative;
}
.wrap-process__left_dots {
  position: absolute;
  left: 402px;
  top: 410px;
}
.wrap-process__right {
  padding: 180px 10px 0 100px;
  width: 600px;
}
.wrap-process__right_title {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  color: #1e266d;
}
.wrap-process__right_text {
  margin-top: 40px;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #7c7c7c;
}
.wrap-process__right_btn {
  margin-top: 45px;
  width: 177px;
  height: 55px;
  background: #00d664;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}