* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1255px;
}

.header {
  background-image: url(../img/Rectangle\ 96.png);
  height: 1085px;
  color: #ffffff;
}
.header__nav {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.header__nav_btn {
  background: #00d664;
  border-radius: 25px;
  border: none;
  width: 155px;
  height: 50px;
}
.header__intro {
  margin-top: 315px;
  text-align: center;
  width: 795px;
  height: 395px;
}
.header__intro_btn {
  background: #00d664;
  border-radius: 25px;
  border: none;
  width: 215px;
  height: 50px;
}

.about {
  margin-top: 186px;
  text-align: center;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.about__content_left {
  width: 50%;
}
.about__content_left_title {
  font-size: 16px;
}
.about__content_right {
  width: 50%;
  padding: 46px;
}